body {
    font-family: 'Cairo', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    direction: rtl;
    text-align: right;
}

header {
    position: relative;
    background: #19376D;
    color: #fff;
}

header .navbar-brand img {
    width: 60px; /* Increase the width */
    height: auto;
}

.header-content {
    padding: 50px 0;
}

.header-content h1 {
    margin: 0;
    font-size: 2.5rem;
    font-family: 'Amiri', serif;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #19376D;
}

h2.section-title {
    font-size: 1.5rem; /* Adjusted size for better fit on mobile */
    margin-bottom: 20px;
    border-bottom: 2px solid #19376D;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Amiri', serif;
    cursor: pointer;
    position: relative;
}

h2.section-title::after {
    content: '\25B6'; /* Right-pointing arrow */
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    font-size: 1rem; /* Adjusted size for better fit on mobile */
}

h2.section-title.expanded::after {
    transform: translateY(-50%) rotate(90deg); /* Down-pointing arrow */
}

ul.styled-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

ul.styled-list li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-right: 5px solid #19376D;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #19376D;
    color: #fff;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    h2.section-title {
        font-size: 1.25rem; /* Further adjustment for smaller screens */
    }
    
    h2.section-title::after {
        font-size: 0.875rem; /* Further adjustment for smaller screens */
    }
}
